.list {
  list-style: none;
}

.list__item {
}

.list__item--nav {
  margin-right: 50px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0.6px;
  &:last-child {
    margin-right: 0;
  }
}

.list__item--portfolio {
  margin-right: 42px;
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 2px;
  &:last-child {
    margin-right: 0;
  }
}