// $black: #373A39;
// $black2: #242121;
// $black2alpha: #242121cc;
// $black3: #1D1D1D;
// $grey: #F0F0F0;
// $grey2: #EDEDED;
// $yellow: #FCBB08;
// $white2: #F6F8FA;
// $whiteAlpha: #ffffff25;

$black: #373A39;
$black2: #242121;
$black2alpha: #242121cc;
$black3: #1D1D1D;
$black4: #333333;

$white: #F0F0F0;
$white2: #EDEDED;
$white3: #F6F8FA;

$grey: #9E9E9E;
$greyAlpha: #ffffff25;

$yellow: #FCBB08;
