@font-face {
  font-family: "Raleway";
  src: url('/public/fonts/Raleway/Raleway-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: "Montserrat";
  src: url('/public/fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans";
  src: url('/public/fonts/OpenSans/OpenSans-Light.ttf');
  font-weight: 300;
}